<% content_for :stylesheets do %> <!--calendar.html.erbにCSSを直接読み込む-->
  <%= stylesheet_link_tag "calendar" %>
<% end %>

<div class="calendar-page">
  <div class="calendar-header">
    <div class="calendar-title">
      <h1>📅 <%= @date.strftime("%Y年%-m月") %>のカレンダー</h1>
    </div>

    <div class="calendar-actions">
      <div class="account-links">
        <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" class="logout-btn">ログアウト</a>
        <%= link_to "アカウント編集・削除", edit_user_path(current_user), class: "account-edit-link" %>
      </div>
      <div class="new-plan-btn">
        <%= link_to "新しい予定を作成", new_plan_path, class: "btn add-plan-btn" %>
      </div>
    </div>
  </div>

 <%= month_calendar class: "simple-calendar", events: @plans, start_day: :sunday do |date, events_for_date| %>
    <% day_class = "day" %>
    <% day_class += " today" if date == Date.today %>
    <% day_class += " sunday" if date.sunday? %>
    <% day_class += " saturday" if date.saturday? %>
    <% day_class += " other-month" if @date && date.month != @date.month %>

    <div class="<%= day_class %>">
      <%= date.day %>
      <% if @shopping_counts[date].present? %>
        <!-- クリックでその日のリスト詳細ページへ遷移 -->
        <%= link_to "🛒 #{@shopping_counts[date]}件", shopping_lists_path(date: date), class: "shopping-count-link" %>
        <%= link_to "+", new_shopping_list_path(date: date), class: "add-button" %>
      <% else %>
        <%= link_to "+", new_shopping_list_path(date: date), class: "add-button" %>
      <% end %>
    </div>
    <%= render partial: "plans/plan", locals: { plans_for_date: @plans.select { |p| p.start_time.to_date == date } } %>
  <% end %>
</div>