<% content_for :stylesheets do %> <!--calendar.html.erbにCSSを直接読み込む-->
  <%= stylesheet_link_tag "calendar" %>
<% end %>

<div class="calendar-page">
  <!-- ログアウトボタン -->
  <a href="<%= destroy_user_session_path %>"
     data-turbo-method="delete"
     class="logout-btn">
     ログアウト
  </a>

  <h1>買い物カレンダー</h1>
  

 <%= month_calendar class: "simple-calendar", events: @events, start_day: :sunday do |date, events_for_date| %>
    <% day_class = "day" %>
    <% day_class += " today" if date == Date.today %>
    <% day_class += " sunday" if date.sunday? %>
    <% day_class += " saturday" if date.saturday? %>
    <% day_class += " other-month" if @date && date.month != @date.month %>

    <div class="<%= day_class %>">
      <%= date.day %>
      <% if @shopping_counts[date].present? %>
        <!-- クリックでその日のリスト詳細ページへ遷移 -->
        <%= link_to "🛒 #{@shopping_counts[date]}件", shopping_lists_path(date: date), class: "shopping-count-link" %>
        <%= link_to "+", new_shopping_list_path(date: date), class: "add-button" %>
      <% else %>
        <!--<span class="no-list">買い物リストなし</span>-->
        <!-- 新規作成ページへ遷移 -->
        <%= link_to "+", new_shopping_list_path(date: date), class: "add-button" %>
      <% end %>
    </div>

    <% events_for_date.each do |event| %>
      <div class="event"><%= event[:name] %></div>
    <% end %>
  <% end %>
</div>