<h2>アイテム編集</h2>

<%= form_with model: [@shopping_list, @item] do |f| %>
  <div>
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :quantity, "数量" %><br>
    <%= f.number_field :quantity, min: 1, id: "quantity_field" %>
    <%= button_tag "-", type: "button",
        onclick: "var q=document.getElementById('quantity_field'); if(q.value>1){q.value--}" %>

    <%= button_tag "+", type: "button",
        onclick: "var q=document.getElementById('quantity_field'); q.value++" %>
  </div>

  <div>
    <%= f.label :category, "分類" %><br>
    <%= f.select :category, ["食料品", "日用品", "その他"], {}, { style: "width: 150px;" } %>
  </div>

  <div>
    <%= f.label :memo, "メモ" %><br>
    <%= f.text_area :memo %>
  </div>

  <div>
    <%= f.label :purchased, "購入済み" %>
    <%= f.check_box :purchased %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>