<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "plans_new" %>
<% end %>

<h2>新しい予定を作成</h2>

<% if @plan.errors.any? %>
  <ul class="error-messages">
    <% @plan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @plan do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :start_time, "開始時間" %>
    <%= f.datetime_select :start_time, default: @plan.start_time&.in_time_zone('Tokyo') || Time.zone.now %>
  </div>
  <div>
    <%= f.label :end_time, "終了時間" %>
    <%= f.datetime_select :end_time %>
  </div>
  <div>
    <%= f.label :note, "メモ", style: "display:inline-block; vertical-align:top;" %>
    <%= f.text_area :note %>
  </div>
  <%= f.submit "予定を作成" %>
<% end %>
<br>
<%= link_to "カレンダーに戻る", calendar_path %>